.article-inner, #about-inner {
    padding: 2em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: solid #CCC;
    border-width: 1px 1px;
}

@media (max-width: 470px) {
    .article-inner {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        max-width: 100vw;
        box-sizing: border-box;
        overflow-x: hidden;
    }
}

#logo:hover {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#footer, #wrap {
    background: rgb(255, 253, 252);
}

#header-title {
    position: relative; /* Needed for absolute positioning of ::before */
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    padding-top: 3em; 
    padding-bottom: 3em;
    border: solid #CCC;
    border-width: 1px 0px;
}

#header-title::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1) 100%), url('/images/ste-2.svg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    opacity: 0.1;
    z-index: 0;
    pointer-events: none; 
}

#header-title > * {
    position: relative;
    z-index: 1;
}

#nav-outer {
    border: 1px solid #CCC;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: url(#glass) brightness(0.9) contrast(1.2) blur(1.2px);
    -webkit-backdrop-filter: contrast(1.1) blur(2px);
}

.aff-text {
    color: #333 !important;
    margin-left: 1rem;
    white-space: nowrap;
}

.aff-box {
    display: flex; align-items: center; margin-left: 3rem;
}

.aff-img {
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    object-fit: cover;
    margin-right: 0.5em; 
    border-radius: 50%; 
    border: solid 1px #CCC;
}

.marker {
    background-color: rgba(0, 0, 0, 0) !important;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 37%, rgba(255, 220, 0, 0.7) 37%) !important;
}

.marker code {
    background-color: transparent !important;
    background: none !important;
}

body {
    background-color: rgb(255, 253, 252) !important;
}